<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="hu" lang="hu-HU">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-2" />
    <title>Teszt{alcim}</title>
    <meta name="keywords" content="webmotor" />
    <meta name="description" content="" />
    <script type="text/javascript" src="js/check.js"></script>
    <link rel="stylesheet" type="text/CSS" href="style.css" />
</head>
<body>
   <div id="frame">
      <div id="head">
         <a href="?c=10">1. menü</a>
         <a href="?c=17">2. menü</a>
         <a href="?c=20">3. menü</a>
         <a href="?c=proba">4. menü (statikus html)</a>
      </div>
      <div id="content">
         {tartalom}
      </div>
      <div id="footer">
         Lábléc
      </div>
   </div>
</body>
</html>
