<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="hu" lang="hu-HU">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-2" />
    <title>SA:MP{alcim}</title>
    <meta name="keywords" content="webmotor" />
    <meta name="description" content="" />
    <script type="text/javascript" src="js/check.js"></script>
    <link rel="stylesheet" type="text/CSS" href="style.css" />
    <link href="styles.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="../styles.css" type="text/css"/>

</head>
<body background="graphics/Waterfall_high_quality_hd_wallpaper.jpg">
   <div id="frame">
      <div id="head">
         <div id='cssmenu'>
            <ul>
               <li class='active'>
               <a href='?c=10'><span>Home</span></a></li>
               <li><a href='?c=17'><span>Fórum</span></a></li>
               <li><a href='?c=20'><span>Users</span></a></li>
               <li><a href='?c=18'><span>Samp szerver</span></a></li>
            </ul>
</div>
        
      </div>
      <div id="content">
         {tartalom}
      </div>
      <div id="footer">
          <br/>
              <a href="#">Contact</a> | <img src="graphics/facebook-logo2.gif" alt="Smiley face" height="15" width="15"/>  <a href="#">Facebook</a>| <a href="#">E-mail</a> | <img src="graphics/twitter_logo.png" alt="Smiley face" height="15" width="15"/><a href="#">Twitter</a>
      </div>
   </div>
</body>
</html>
