#frame{
   width: 960px;
   margin: 0px auto 0px auto;
   border: 1px solid #686868;
}

#head{
   height: 35px;
   width: 100%;
}

#content{
   min-heigt: 400px;
   padding: 10px;
   background-color: white;
   opacity: 0.7;
}

#footer{
   height: 60px;
   width: 100%;
   background-color: #cecece;
}
